streamlit
openpyxl
plotly
pandas
setuptools
attr
ConfigParser
contextlib2
cryptography
cython
docutils
filelock
geopandas
HTMLParser
importlib_metadata
ipython
ipyvizzu
ipyvizzu_story
ipywidgets
Jinja2
keyring
mock
Pillow
protobuf
pydeck
pyOpenSSL
railroad
redis
Sphinx
st_annotated_text
streamlit_extras
streamlit_lottie
streamlit_option_menu
streamlit_shadcn_ui
thread
tornado
